.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container > div:first-child {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.container > div:last-child {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-area {
  margin-bottom: 30px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input,
select,
button {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 0.8s ease-in-out;
}
