.article-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  text-align: center;
}

.article-card:hover {
  transform: scale(1.006);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.article-card h1 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.article-details {
  margin-top: 8px;
  text-align: left;
  align-items: left;
}

.article-details strong {
  color: #555;
  margin-right: 4px;
}

.article-details span {
  color: #777;
}

.article-image {
  margin-top: 10px;
  width: 100%;
}

img {
  height: auto;
  width: 100%;
  border: 1px solid #0056b3;
  border-radius: 2px;
}
